/*.list{
    list-style-type: square;
}

.list{
    list-style-type: url(check.png);
}*/

.list{
    /*list-style-type: none;
    list-style-position: outside;*/
}

/*.list__item::before{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url(check.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1em;
}*/

.list__item{
    /*background-image: url(check.png);
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 2em;
    background: red;*/
}

