/*.paragraph{
    padding: .5em;
    background: lightskyblue;
}

.paragraph:empty{
    all: unset;
}

.paragraph:first-child{
    background: red;
}

.paragraph:last-child{
    background: blue;
}

.paragraph:nth-child(odd){
    background: lightcoral;
}

.paragraph:nth-child(even){
    background: lightcoral;
}

.paragraph:nth-child(3){
    background: lightcoral;
}

.paragraph:nth-child(n+4){
    background: lightcoral;
}

.paragraph:nth-last-child(n+3){
    background: lightcoral;
}

.paragraph:only-child{
    background: lightgreen;
}

.paragraph:nth-of-type(3){
    background: red;
}
*/

.paragraph:not(.first){
    background: green;
}