.flex-container{
    background-color: #fca17d;
    height: 300px;
    width: 400px;
    display: flex;
}

.flex-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: aliceblue;
    background-color: #9a348b;
    order: 0;
}

.flex-item:nth-child(2){
    background: lightseagreen;
}

.flex-item:nth-child(3){
    background: lightskyblue;
}

.flex-item:nth-child(4){
    background: darkgoldenrod;
}

.flex-item:nth-child(5){
    background: darkgoldenrod;
}