/*
.img-container{
    width: 300px;
}

.img{
    max-width: 100%;
   /* display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-container{
    background: lavender;
    text-align: center;
}

.img-container img,
.img-container span{
    vertical-align: middle;
}

.img-container{
    display: table;
}

.img-container span{
    display: table-cell;
}*/

.img-container{
    display: flex;
    align-items: center;
}