@Model.modelList
@using CNTI365.FACTUR.Models

@{
    ViewBag.Title = "ActivarCuenta";
    Layout=null;
}

<br /><br />

<center>
    <span><h2>@Model.msjActivarCuenta.response</h2></span>
    <label>Para iniciar sesion ingrese <a href="https://localhost:44320/Home/Index">aqui</a></label>
    <span>Recuerde que la cuenta esta activa por 15 dias. Para obtener una licencia escribenos a ventas@empresa.com</span>
</center>
