body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
header {
  height: 100%;
  background-image: url(img/image.jpeg);
  background-size: cover;
  background-position: center;
  padding: 0px 100px;
}
header nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
}
header a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-flow: row;
  align-items: center;
}
header .logo {
  width: 25%;
  font-size: 36px;
  font-weight: bold;
  min-width: 360px;
}
header .menu {
  width: 65%;
}
header .menu ul {
  display: flex;
  flex-flow: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header .menu a {
  margin: 0px 10px;
  padding: 5px 10px;
  font-size: 27px;
}
header .leng {
  width: 15%;
  font-size: 27px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .centro-head {
  display: flex;
  flex-flow: row;
  height: 60%;
  margin-top: 30PX;
}
header .centro-head .header-text {
  width: 70%;
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-top: 50px;
}
header .centro-head .header-anuncio {
  width: 30%;
}
header .centro-head .header-anuncio .tarjeta-anu {
  display: flex;
  flex-flow: row;
  height: 100%;
}
header .centro-head .header-anuncio .tarjeta-anu .titulo-tar {
  background-color: #1071a4;
  color: white;
  padding-left: 50px;
  width: 300px;
  min-width: 300px;
  position: relative;
}
header .centro-head .header-anuncio .tarjeta-anu .titulo-tar h2:nth-child(1) {
  margin-top: 30px;
  position: absolute;
  top: 20px;
}
header .centro-head .header-anuncio .tarjeta-anu .titulo-tar h2:nth-child(3) {
  position: absolute;
  bottom: 45px;
}
header .centro-head .header-anuncio .tarjeta-anu .titulo-tar h2:nth-child(4) {
  position: absolute;
  bottom: 20px;
  color: #f6f2f1;
}
header .centro-head .header-anuncio .tarjeta-anu .titulo-tar img {
  position: absolute;
  bottom: 100px;
}
header .centro-head .header-anuncio .tarjeta-anu .imagen-tar {
  width: 700px;
  min-width: 700px;
}
header .centro-head .header-anuncio .tarjeta-anu .imagen-tar img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
header .flecha-head {
  width: 100%;
  display: flex ;
  flex-flow: row;
  justify-content: flex-start;
}
header .flecha-head .text-flecha {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
}
header .flecha-head .text-flecha h3 {
  margin: 0;
  font-size: 19px;
  font-weight: 300;
}
header .flecha-head .text-flecha h2 {
  margin: 0;
  font-size: 35px;
  font-weight: 300;
}
header .flecha-head .img {
  width: 85px;
  height: 85px;
  margin-left: 20px;
}
.cont-ciudades {
  padding: 0px 100px;
  margin: 60px 0px;
  display: flex;
  flex-flow: column;
}
.cont-ciudades .ciu-titulo {
  background-color: #1A4958;
  width: 25%;
  display: flex;
  flex-flow: row;
  position: relative;
  height: 60px;
  align-items: center;
}
.cont-ciudades .ciu-titulo h2 {
  position: absolute;
  margin: 0;
  color: white;
  font-size: 22px;
  font-weight: 400;
  left: 20px;
}
.cont-ciudades .ciu-titulo img {
  position: absolute;
  margin: 0;
  width: 30px;
  right: 20px;
}
.cont-ciudades .ciu-tarjetas {
  width: 100%;
  display: flex;
  flex-flow: row;
}
.cont-ciudades .ciu-tarjetas .ciu-content {
  width: 25%;
  height: 450px;
  background-size: cover;
  background-position: center;
}
.cont-ciudades .ciu-tarjetas .ciu-content:nth-child(1) {
  background-image: url(./img/italia.JPG);
}
.cont-ciudades .ciu-tarjetas .ciu-content:nth-child(2) {
  background-image: url(./img/grecia.jpg);
}
.cont-ciudades .ciu-tarjetas .ciu-content:nth-child(3) {
  background-image: url(./img/croacia.jpg);
}
.cont-ciudades .ciu-tarjetas .ciu-content:nth-child(4) {
  background-image: url(./img/new_york.jpeg);
}
.cont-ciudades .ciu-tarjetas h2 {
  color: white;
  font-size: 25px;
  margin: 0;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 30px;
  text-shadow: 0 0 6px #0000004a;
}
.cont-ciudades .ciu-tarjetas h3 {
  color: white;
  font-size: 25px;
  margin: 0;
  font-weight: 400;
  padding-left: 30px;
  text-shadow: 0 0 6px #0000004a;
}
.cont-city {
  margin: 180px 0px;
  position: relative;
}
.cont-city .city-info {
  padding: 0px 100px;
  display: flex;
  flex-flow: row;
  z-index: 1;
}
.cont-city .city-info .city-img {
  width: 40%;
}
.cont-city .city-info .city-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont-city .city-info .city-text {
  width: 40%;
  padding: 0px 100px;
  background-color: white;
}
.cont-city .city-info .city-text h3 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}
.cont-city .city-info .city-text h1 {
  margin: 25px 0px;
  font-weight: 600;
  font-size: 40px;
}
.cont-city .city-info .city-text .city-opc {
  display: flex;
  flex-flow: row;
}
.cont-city .city-info .city-text .city-opc img {
  width: 30px;
  margin-right: 10px;
}
.cont-city .city-info .city-text .city-opc a {
  text-decoration: none;
  color: black;
}
.cont-city .city-info .city-text .city-opc h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 40px;
}
.cont-city .city-info .city-text p {
  margin-bottom: 50px;
  font-size: 19px;
}
.cont-city .city-info .city-text .btn-city {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 17px 70px;
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
  width: 200px;
  margin-bottom: 30px;
}
.cont-city .city-bg {
  background-image: url(img/bg_opacidad.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
  z-index: -10;
  opacity: 0.38;
}
.cont-servicios {
  display: flex;
  flex-flow: column ;
  padding: 0px 100px;
  margin-bottom: 100px;
}
.cont-servicios .serv-titulo {
  margin-bottom: 120px;
  width: 100%;
}
.cont-servicios .serv-titulo h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  display: block;
  margin: 0 auto;
  width: 400px;
  position: relative;
}
.cont-servicios .serv-titulo h1::after {
  content: '';
  width: 120px;
  height: 5px;
  background-color: black;
  position: absolute;
  bottom: -9px;
  right: 50px;
}
.cont-servicios .serv-lista {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.cont-servicios .serv-lista .serv-cont {
  width: 33%;
  position: relative;
}
.cont-servicios .serv-lista .serv-cont img {
  width: 85px;
  position: absolute;
  top: 0;
  left: 0;
}
.cont-servicios .serv-lista .serv-cont h2 {
  padding-left: 100px;
  padding-right: 30px;
  margin-top: 0px;
}
.cont-servicios .serv-lista .serv-cont p {
  padding-left: 100px;
  margin-bottom: 100px;
  padding-right: 40px;
  font-size: 15px;
  font-weight: 400;
}
footer {
  background-color: #1A4958;
  padding: 70px 100px;
}
footer .footer-cont {
  width: 100%;
  display: flex;
  flex-flow: row;
  color: white;
}
footer .footer-cont .footer-col1 {
  width: 30%;
}
footer .footer-cont .footer-col1 .footer-info {
  display: flex;
  flex-flow: row;
}
footer .footer-cont .footer-col1 .footer-info img {
  width: 25px;
  margin-right: 10px;
  filter: grayscale(1) invert(1);
}
footer .footer-cont .footer-col1 .footer-info h3 {
  font-size: 15px ;
  font-weight: 400;
}
footer .footer-cont .footer-col2 {
  width: 20%;
}
footer .footer-cont .footer-col2 ul {
  list-style-type: circle;
}
footer .footer-cont .footer-col2 ul li {
  font-size: 20px;
  margin-bottom: 16px;
}
footer .footer-cont .footer-col2 ul li a {
  text-decoration: none;
  color: white;
}
footer .footer-cont .footer-col3 {
  width: 20%;
}
footer .footer-cont .footer-col3 ul {
  list-style-type: none;
  padding-left: 0;
}
footer .footer-cont .footer-col3 ul li {
  font-size: 17px;
  margin-bottom: 16px;
}
footer .footer-cont .footer-col4 {
  width: 25%;
}
footer .footer-cont .footer-col4 h3 {
  font-size: 17px;
  font-weight: 400;
}
footer .footer-cont .footer-col4 form {
  display: flex;
  flex-flow: column;
}
footer .footer-cont .footer-col4 form input[type='text'] {
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 5px;
  width: 80%;
  margin-bottom: 20px;
}
footer .footer-cont .footer-col4 form input[type='submit'] {
  border: 1px solid white;
  width: 83%;
  background-color: white;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 400;
}
#toogle {
  display: none;
}
.res-menu {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .res-menu {
    display: flex;
    font-size: 50px;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
            user-select: none;
  }
  header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header nav {
    flex-flow: column;
  }
  header nav .logo {
    min-width: -webkit-min-content;
    min-width: min-content;
  }
  header nav .menu {
    display: none;
    background-color: #1A4958;
    padding-top: 30px;
  }
  header nav .menu ul {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  header nav .menu ul li {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid #ffffff;
  }
  header nav .menu ul li a {
    justify-content: center;
    padding: 14px 0px;
  }
  header nav .leng {
    display: none;
    background-color: #1A4958;
    padding-top: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 30px;
  }
  header .centro-head .header-text {
    width: 100% !important;
    margin: 0;
  }
  header .centro-head .header-text h1 {
    margin: 0;
    font-size: 76px;
    margin-bottom: 80px;
    text-align: center;
  }
  header .header-anuncio {
    display: none;
  }
  header .flecha-head {
    display: none;
  }
  .cont-ciudades .ciu-titulo {
    width: 50%;
  }
  .cont-ciudades .ciu-tarjetas {
    flex-flow: row wrap;
  }
  .cont-ciudades .ciu-tarjetas .ciu-content {
    width: 50%;
  }
  .cont-city {
    margin: 100px 0px 50px 0px;
  }
  .cont-city .city-info {
    flex-flow: column;
  }
  .cont-city .city-info .city-img {
    width: 100%;
  }
  .cont-city .city-info .city-img img {
    width: 100%;
  }
  .cont-city .city-info .city-img .city-text {
    width: 100%;
    padding: 30px 0px;
  }
  .cont-city .city-info .city-img .btn-city {
    display: flex !important;
    width: auto;
    justify-content: center;
  }
  .cont-city .city-bg {
    display: none;
  }
  .cont-servicios .serv-lista {
    flex-flow: column;
  }
  .cont-servicios .serv-lista .serv-cont {
    width: 100%;
  }
  .cont-servicios .serv-lista .serv-cont p {
    padding-right: 0;
  }
  footer .footer-cont {
    flex-flow: column;
  }
  footer .footer-cont .footer-col1 {
    width: 100%;
  }
  footer .footer-cont .footer-col2 {
    width: 100%;
  }
  footer .footer-cont .footer-col3 {
    width: 100%;
  }
  footer .footer-cont .footer-col4 {
    width: 100%;
  }
}
#toogle:checked ~ .menu {
  display: flex;
  width: 200%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
#toogle:checked ~ .leng {
  display: flex;
  width: 200%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
