body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
//    overflow: hidden;
}

//HEADER
header{
    height: 100%;
    background-image: url(img/image.jpeg);
    background-size: cover;
    background-position: center;
    padding: 0px 100px;

    //MENU ROW
    nav{
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 100%;
        padding: 50px 0px;
    }
    
    a{
        color: white;
        text-decoration: none;
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    .logo{
        width: 25%;
        font-size: 36px;
        font-weight: bold;
        min-width: 360px;
    }

    .menu{
        width: 65%;
        ul{
            display: flex;
            flex-flow: row;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }        
        a{
            margin: 0px 10px;
            padding: 5px 10px;
            font-size: 27px;
        }
    }

    .leng{
        width: 15%;
        font-size: 27px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    //Centro Header
    .centro-head{
        display: flex;
        flex-flow: row;
        height: 60%;
        margin-top: 30PX;
       
        .header-text{
            width: 70%;
            font-size: 50px;
            font-weight: bold;
            color: white;
            margin-top: 50px;
        }

        .header-anuncio{
            width: 30%;
       
            .tarjeta-anu{
                display: flex;
                flex-flow: row;
                height: 100%;
                .titulo-tar{
                    background-color: #1071a4;
                    color: white;
                    padding-left: 50px;
                    width: 300px;
                    min-width: 300px;
                    position: relative;
                    
                    h2:nth-child(1){
                        margin-top: 30px;
                        position: absolute;
                        top: 20px;
                    }
                    
                    h2:nth-child(3){
                        position: absolute;
                        bottom: 45px;
                    }
                    
                    h2:nth-child(4){
                        position: absolute;
                        bottom: 20px;
                        color: #f6f2f1;
                    }

                    img{
                        position: absolute;
                        bottom: 100px;                        
                    }
                }
 
                .imagen-tar{
                    width: 700px;
                    min-width: 700px;
                    img{
                        width: 100%;
                        object-fit: cover;
                        height: 100%;
                    }
                }
            }
        }
    }

    //Header inferior
    .flecha-head{
        width: 100%;
        display: flex ;
        flex-flow: row;
        justify-content: flex-start;
        .text-flecha{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-end;
            color: white;
            h3{
                margin: 0;
                font-size: 19px;
                font-weight: 300;
            }
            h2{
                margin: 0;
                font-size: 35px;
                font-weight: 300;
            }
        }
        .img{
            width: 85px;
            height: 85px;
            margin-left: 20px;
        }
    }
}

//FINAL HEADER

//CONTENIDO 1: Ciudades
.cont-ciudades{
    padding: 0px 100px; // margen general
    margin: 60px 0px; //separacion vertical
    display: flex;
    flex-flow: column;
    .ciu-titulo{
        background-color: #1A4958;
        width: 25%;
        display: flex;
        flex-flow: row;
        position:relative;
        height: 60px;
        align-items: center;

        h2{
            position: absolute;
            margin: 0;
            color: white;
            font-size: 22px;
            font-weight: 400;
            left:20px;
        }

        img{
            position: absolute;
            margin: 0;
            width: 30px;
            right: 20px;
        }
    }

    .ciu-tarjetas{
        width: 100%;
        display: flex;
        flex-flow: row;
        .ciu-content{
            width: 25%;
            height: 450px;     
            background-size: cover;     
            background-position: center;  
        }

        .ciu-content:nth-child(1){
            background-image: url(./img/italia.JPG);
        }
        .ciu-content:nth-child(2){
            background-image: url(./img/grecia.jpg);
        }
        .ciu-content:nth-child(3){
            background-image: url(./img/croacia.jpg);
        }
        .ciu-content:nth-child(4){
            background-image: url(./img/new_york.jpeg);
        }

        h2{
            color: white;
            font-size: 25px;
            margin: 0;
            font-weight: bold;
            padding-left: 30px;
            padding-top: 30px;
            text-shadow: 0 0 6px #0000004a;
        }

        h3{
            color: white;
            font-size: 25px;
            margin: 0;
            font-weight: 400;
            padding-left: 30px;
            text-shadow: 0 0 6px #0000004a;
        }
    }
}

//FINAL CONTENIDO 1 Ciudades

// Contenido 2 Ciudad Unica

.cont-city{
    margin: 180px 0px; //Separacion vertical
    position: relative;
    .city-info{
        padding: 0px 100px; //Margen General
        display: flex;
        flex-flow: row;
        z-index: 1;

        .city-img{
            width: 40%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .city-text{
            width: 40%;
            padding: 0px 100px;      
            background-color: white;
            h3{
                margin: 0;
                font-weight: 400;
                font-size: 18px;
            } 
            h1{
                margin: 25px 0px;
                font-weight: 600;
                font-size: 40px;
            }
            .city-opc{
                display: flex;
                flex-flow: row;
            
                img{
                    width: 30px;
                    margin-right:10px;
                }
            
                a{
                    text-decoration: none;
                    color: black;
                }
            
                h2{
                    font-size: 18px;
                    font-weight: 600;
                    margin: 40px;
                }
            }   
            
            p{
                margin-bottom: 50px;
                font-size: 19px;
            }  

            .btn-city{
                background-color: black;
                color: white;
                text-decoration: none;
                padding: 17px 70px;
                font-size: 20px;
                font-weight: bold;
                display: block;
                text-align: center;
                width: 200px;
                margin-bottom: 30px;
            }
        }
    }

    .city-bg{
        background-image: url(img/bg_opacidad.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;
        position: absolute;
        bottom: 0;
        z-index: -10;
        opacity: 0.38;
    }
}

//FINAL CONTENIDO 2 Ciudad Unica

//Contenido 3 Servicios

.cont-servicios{
    display: flex;
    flex-flow: column ;
    padding: 0px 100px; //margen general
    margin-bottom: 100px;
    .serv-titulo{
        margin-bottom: 120px;
        width: 100%;
        h1{
            text-align: center;
            font-weight: bold;
            font-size: 50px;
            display: block;
            margin: 0 auto;
            width: 400px;
            position: relative;
            
            &::after{
                content: '';
                width: 120px;
                height: 5px;
                background-color: black;
                position: absolute;
                bottom: -9px;
                right: 50px;
            }
        }
    }
    .serv-lista{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        .serv-cont{
            width: 33%;
            position: relative;
            img{
                width: 85px;
                position: absolute;
                top: 0;
                left: 0;
            }
            h2{
                padding-left: 100px;
                padding-right: 30px;
                margin-top: 0px;
            }
            p{
                padding-left: 100px;
                margin-bottom: 100px;
                padding-right: 40px;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}

//FINAL CONTENIDO 3 Servicios

//Footer
footer{
    background-color: #1A4958;
    padding: 70px 100px; //margen general
    .footer-cont{
        width: 100%;
        display: flex;
        flex-flow: row;
        color: white;
        .footer-col1{
            width: 30%;
            .footer-info{
                display: flex;
                flex-flow: row;
                img{
                    width: 25px;
                    margin-right: 10px;
                    -webkit-filter: grayscale(1) invert(1); filter: grayscale(1) invert(1);
                }
                h3{
                    font-size:15px ;
                    font-weight: 400;
                }
            }
        }
        .footer-col2{
            width: 20%;
            ul{
                list-style-type: circle;
                li{
                    font-size: 20px;
                    margin-bottom: 16px;
                    a{
                        text-decoration: none;
                        color:white;
                    }
                }
            }
        }

        .footer-col3{
            width: 20%;
            ul{
                list-style-type: none;
                padding-left: 0;
                li{
                    font-size: 17px;
                    margin-bottom: 16px;
                }
            }
        }

        .footer-col4{
            width: 25%;
            h3{
                font-size: 17px;
                font-weight: 400;
            }
            form{
                display: flex;
                flex-flow: column;
                input[type='text']{
                    border: 1px solid white;
                    background-color: transparent;
                    padding: 10px 5px;
                    width: 80%;
                    margin-bottom: 20px;
                }
                input[type='submit']{
                    border: 1px solid white;
                    width: 83%;
                    background-color: white;
                    padding: 4px 10px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            
        }
    }
}

//Menu Responsive
#toogle{
    display: none;
}

.res-menu{
    display: none;
}

@media only screen and (max-width: 1100px){
    
     .res-menu{
        display: flex;
        font-size: 50px;
        color: white;
        cursor: pointer;
        user-select: none;
    }

    header{
        height: fit-content;
        nav{
            flex-flow: column;
            .logo{
                min-width: min-content;
            }
            .menu{
                display: none;
                background-color: #1A4958;
                padding-top: 30px;
                ul{
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    li{
                        width: 100%;
                        text-align: center;
                        border-bottom: 3px solid rgb(255,255, 255);
                        a{
                            justify-content: center;
                            padding: 14px 0px;
                        }
                    }
                }              
            }
            .leng{
                display: none;
                background-color: #1A4958;
                padding-top: 20px;
                padding-bottom: 30px;
                width:fit-content;
                padding-bottom: 30px;
            }
        }

        .centro-head .header-text{
            width: 100% !important;
            margin: 0;
            h1{
                margin: 0;
                font-size: 76px;
                margin-bottom: 80px;
                text-align: center;
            }
        }
        .header-anuncio{
            display: none;            
        }

        .flecha-head{
            display: none;
        }
    }
    //Fin Header

    //Tarjetas
    .cont-ciudades{
        .ciu-titulo{
            width: 50%;
        }
        .ciu-tarjetas{
            flex-flow: row wrap;
            .ciu-content{
                width: 50%;
            }
        }
    }
    //Fin tarjetas

    //Ciudad Unica
    .cont-city{
        margin: 100px 0px 50px 0px;
        .city-info{
            flex-flow: column;
            .city-img{
                width: 100%;
                img{
                    width: 100%;
                }
                .city-text{
                    width: 100%;
                    padding: 30px 0px;
                }
                .btn-city{
                    display: flex !important;
                    width: auto;
                    justify-content: center;
                }
            }
        }
        .city-bg{
            display: none;
        }
    }

    //Fin Ciudad Unica

    //Servicios
    .cont-servicios{
        .serv-lista{
            flex-flow: column;
            .serv-cont{
                width: 100%;
                p{
                    padding-right: 0;
                }
            }
        }
    }
    //Fin Servicios

    //Footer
    footer .footer-cont{
        flex-flow: column;
        .footer-col1{
            width: 100%;
        }
        .footer-col2{
            width: 100%;
        }
        .footer-col3{
            width: 100%;
        }
        .footer-col4{
            width: 100%;
        }        
    }
}

#toogle:checked ~ .menu{
    display: flex;
    width: 200%;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#toogle:checked ~ .leng{
    display: flex;
    width: 200%;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}