.flex-container{
    background-color: #fca17d;
    padding: .5em 0;
    display: flex;
    flex-wrap: wrap;
}

.flex-item{
    width: 30px;
    height: 30px;
    margin: .5em;
    line-height: 30px;
    color: aliceblue;
    text-align: center;
    background-color: #9a348b;
}