.box1, .box2{
 width: 300px;
 height: 200px;
 margin: 2em;   
}

.box1{
    background: yellowgreen;
    border: 100px solid red;
    border-top-width: 200px;
    border-top-color: transparent;
}

.box2{
    background: lightseagreen;
    border-left-width: 5px;
    border-left-style: dotted;
    border-left-color: blue;
}