.slide{
    height: 300px;
    background: gray;
    font-size: 3em;
    text-align: center;
    line-height: 6em;
}

.menu{
    background: darkcyan;
    padding: .5em;
    text-align: center;
    font-size: 2em;
    width: 100%;
    position: sticky;
    top: 0;
}

.title{
    margin: 0;
}