/*selectores de etiqueta*/
p{
    color:red;
}

h1{
    color:blue;
}

/*selectores de clase*/
.title{
    color: green;
}

.text{
    color:blueviolet;
}

/*selectores de id*/
#title{
    color: aqua;
}

#text{
    color:blue;
}

/*selectores universales*/
*{
    color:red
}

/*selectores de atributo*/
/*selecciona las columnas que tienen ese atributo*/
[
    href]{
    color:green;
}

/*selecciona las columnas que tienen ese atributo y ese valor*/
[href="#"]{
    color:red;
}

/*selecciona las columnas que tienen ese atributo y al menos ese valor una vez*/
[class~="verde"]{
    color:green;
}

/*selecciona las columnas que tienen ese atributo y exactamente ese valor o empieza el valor
seguido de un guion*/
[class|="verde"]{
    color:blue;
}

/*selecciona las columnas que tienen ese atributo y empiezan por ese valor*/
[class^="rojo"]{
    color:purple;
}


/*selecciona las columnas que tienen ese atributo y terminan por ese valor*/
[class$="rojo"]{
    color:steelblue;
}

/*selecciona las columnas que tienen ese atributo y contengan ese valor*/
[class*="rojo"]{
    color:brown;
}

/*selectores combinadores*/
/*selecciona el hermano que este justo por debajo de el */
h1+h2{
    color: red;
}
h2+h2{
    color: blue;
}
/*selector de hermano general*/
h1 ~ h3{
    color: green;
}

/*selectores descendente*/
p span{
    color: gray;
}

/*selector de hijo directo*/
p > span{
    color:blue;
}